<div class="main-content">
    <div class="container-fluid">

        <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h3 class="title">Reporte</h3>
                        <sub>Fecha desde</sub>
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Dia</label>
                                    <input type="number" class="form-control" placeholder="">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Mes</label>
                                    <input type="string" class="form-control" placeholder="">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Año</label>
                                    <input type="number" class="form-control" placeholder="">
                                </div>
                            </div>
                        </div>
                        <sub>Fecha hasta</sub>
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Dia</label>
                                    <input type="number" class="form-control" placeholder="">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Mes</label>
                                    <input type="string" class="form-control" placeholder="">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Año</label>
                                    <input type="number" class="form-control" placeholder="">
                                </div>
                            </div>
                            <div class="col-md-2">
                            <button type="submit" class="btn btn-info btn-fill pull-right">Buscar</button>
                            </div>
                        </div>
                    </div>
                    <div class="content table-responsive table-full-width">
                          <table class="table table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th *ngFor="let cell of tableData1.headerRow">{{ cell }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let row of tableData1.dataRows">
                                        <td *ngFor="let cell of row">{{cell}}</td>
                                    </tr>
                                </tbody>
                          </table>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group">
                            <h3>Total</h3>
                            
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            
                            <input type="number" class="form-control" placeholder="">
                        </div>
                    </div>
                    
                </div>
                
            </div>
            <!-- <div class="col-md-12">
                <div class="card card-plain">
                    <div class="header">
                        <h4 class="title">Table on Plain Background</h4>
                        <p class="category">Here is a subtitle for this table</p>
                    </div>
                    <div class="content table-responsive table-full-width">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th *ngFor="let cell of tableData2.headerRow">{{ cell }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let row of tableData2.dataRows">
                                    <td *ngFor="let cell of row">{{cell}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
    </div>
</div>
