<div class="main-content">
    <div class="container-fluid">

        <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Nuevo Producto</h4>
                        <!-- <div class="row">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Cliente</label>
                                    <input type="text" class="form-control" placeholder="Cliente">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>CI/RUC</label>
                                    <input type="text" class="form-control" placeholder="CI/RUC">
                                </div>
                            </div>
                        </div> -->
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Fecha</label>
                                    <input type="date" class="form-control" placeholder="Fecha">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Nombre del Producto</label>
                                    <input type="text" class="form-control" placeholder="Nombre del Producto">
                                </div>
                            </div> <div class="col-md-3">
                                <div class="form-group">
                                    <label>Nombre del Proveedor</label>
                                    <input type="text" class="form-control" placeholder="Nombre del Proveedor">
                                </div>
                            </div> <div class="col-md-2">
                                <div class="form-group">
                                    <label>Precio de Compra</label>
                                    <input type="number" class="form-control" placeholder="Precio de Compra">
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="form-group">
                                    <label>Cantidad</label>
                                    <input type="number" class="form-control" placeholder="Cantidad">
                                </div>
                            </div>
                            <div class="col-md-2">
                            <p class="category"></p>
                            <button type="submit" class="btn btn-info btn-fill pull-right">Agregar Producto</button>                               
                            </div>
                        </div>

                    </div>
                    <div class="content table-responsive table-full-width">
                          <table class="table table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th *ngFor="let cell of tableData1.headerRow">{{ cell }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let row of tableData1.dataRows">
                                        <td *ngFor="let cell of row">{{cell}}</td>
                                    </tr>
                                </tbody>
                          </table>

                    </div>
                </div>
                
                
            </div>
            <!-- <div class="col-md-12">
                <div class="card card-plain">
                    <div class="header">
                        <h4 class="title">Table on Plain Background</h4>
                        <p class="category">Here is a subtitle for this table</p>
                    </div>
                    <div class="content table-responsive table-full-width">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th *ngFor="let cell of tableData2.headerRow">{{ cell }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let row of tableData2.dataRows">
                                    <td *ngFor="let cell of row">{{cell}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
    </div>
</div>